{% extends "main/base.html" %}
{% load static %}
{% block content1 %}
  <title>About</title>
{% endblock content1 %}
{% block content %}

    <!-- about the company -->
    <section id="about" class="abt" style="padding-top:100px">

      <h4 class="display-4"><strong>Offering A Wide Range<br /> Kitchen Appliances At Industry Leading Prices.
      </strong></h4><br /><br />
    <div class="row">
      <div class="col-lg-6">
        <h4><strong>Reckoned As One Of The Noted Manufacturers, Exporters And Suppliers Of Pressure Cookers.
        </strong></h4><br />

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="color:black;">
        <p class="lead"><b>Reckoned as one of the noted manufacturers, exporters and suppliers of pressure cookers,
           shri chakra industries, have achieved a strong presence in the industry owing to our commitment towards
            quality and customer satisfaction. Our range include induction base pressure cooker, induction
            ,cooker,electrical induction Cooker, Plain base pressure cooker and others. Manufactured using
             premium quality raw material these products and are offered in conformation with international
              technical standards as a result, the products are durable, strong and functionally sound.</b></p><br /><br />
              <div class="content1 container-fluid" >
                <p class="lead">Our product are widely acknowledged by the clients for their superior quality and
                  functionality with our sincere efforts and easy execution of our product line, we have established
                  strict quality management system our quality control section is supported by industrious and
                  qualified quality auditors who ascertains that the manufactured products like non stick pressure
                   cooker aluminium pressure cooker , etc are in tune with the globally accepted normas and standards.</p>
              </div>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'main/images/about_s1.jpg' %}" alt="image" class="abt-img" height=350 width=850px>
      </div>
    </div>
  </section>

    <!-- Review section -->
  <section>
    <center>
      <h5 style="color:brown; font-weight:700;">TESTMONIALS</h5>
      <h2 style="color:black;font-weight:600;">WHAT OUR CLIENTS SAY<br />
              ABOUT US</h2>
              <section class="card-deck card-about" >
              <div class="row">
                <div class="prod-colmn col-lg-4">
                  <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="height:20rem;"  >
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p class="leadx card-text acard"><b>
                          Best products manufactured, Bought pressure cookers,
                          water bottles in bulk for gifting purposes. Very prompt service.</b>
                          </p><hr>
                        </blockquote>
            <div class="row center1">
                <a href="#"><i class='fas fa-user fax' style='font-size: 36px;color:blue;' aria-hidden="true" ></i></a>
                <h5 style="color: black;padding: 10px"><span class="names lead">&ensp;Mayuri Kaushik</span><br></h5>
             </div>
            </div>
                      </div>
                  </div>

                <div class="prod-colmn col-lg-4">
                  <div class="card  shadow-lg p-3 mb-5 bg-white rounded"  style="height:20rem;" >
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="leadx card-text acard"><b>
                    Best products manufactured, Bought pressure cookers,
                    water bottles in bulk for gifting purposes. Very prompt service.</b>
                    </p><hr>
                  </blockquote>
                  <div class="row center1">
                     <i class='fas fa-user fax' style='font-size: 36px;color:blue;' aria-hidden="true" ></i></a>
                    <h5 style="color: black;padding: 10px"><span class="names lead">&ensp;Unknown</span><br></h5>
                 </div>
                </div>
              </div>
              </div>
              <div class="prod-colmn col-lg-4">
                  <div class="card  shadow-lg p-3 mb-5 bg-white rounded"  style="height:20rem;" >
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="leadx card-text acard"><b>
                    Had purchased a pressure cooker and got an issue solved with
                     prompt customer care service.</b><br /><br />
                    </p><hr>
                  </blockquote>
                  <div class="row center1">
                     <i class='fas fa-user fax' style='font-size: 36px;color:blue;' aria-hidden="true" ></i></a>
                    <h5 style="color: black;padding: 10px"><span class="names lead">Sangameshvaran</span><br></h5>
                 </div>
                </div>
              </div>
              </div>
             </div>
            </section>

      </center>
  </section>
{% endblock content %}
